<!DOCTYPE html>
<html lang="en">
    <head>
        {%block head%}
        <meta charset="utf-8">
        <meta viewpoint="width=device-width, initial-scale=1">
        <title>{{username}}'s watchlist</title> 
        <link rel="icon" href="{{url_for('static', filename='maomi.svg')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
        {%endblock%}
    </head>
    <body>
        <h2>
            <img alt="Avater" class="avatar" src="{{url_for('static', filename='maomi.svg')}}">
            {{username}}'s watchlist
        </h2>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
            </ul>
        </nav>
        {%block content%}
        {%endblock%}
        <footer>
            <small>&copy; 2024 <a href="https://github.com/takedaSouda/watchlist.git">Maomi</a></small>
        </footer>
    </body>
</html>